h1{
    text-align: center;
    color: rgb(111, 30, 30);

    font-style: oblique;
}
P{
    text-align: center;
    color: rgb(111, 30, 30);
    font-size: medium;
    font-style: italic;
}
.one{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbC66zzgkpwNqxXZqrxOFa__7-K6mS7B2aYQ&usqp=CAU)  */
}
.
